<div class="panel panel-primary" style="margin:20px;">
	<div class="panel-heading">
        	<h3 class="panel-title">Register</h3>
	</div>
<div class="panel-body">
<div class="col-md-6 col-md-offset-3">
    
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': (form.firstName.$touched && form.firstName.$error.required) || (form.firstName.$dirty && form.firstName.$error.required) || (form.firstName.$dirty && form.firstName.$error.minlength) }">
            <label for="firstName">First name*</label>
            <input autocomplete="off" type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" maxlength="50"  ng-minlength="3" required />
            <span ng-show="(form.firstName.$touched && form.firstName.$error.required) || (form.firstName.$dirty && form.firstName.$error.required)" class="help-block">First name is required</span>
            <span ng-show="(form.firstName.$dirty && form.firstName.$error.minlength)" class="help-block">First name is too short</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.lastName.$touched && form.lastName.$error.required) || (form.lastName.$dirty && form.lastName.$error.required) }">
            <label for="lastName">Last name*</label>
            <input autocomplete="off" type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" maxlength="50" required />
            <span ng-show="(form.lastName.$touched && form.lastName.$error.required) || (form.lastName.$dirty && form.lastName.$error.required)" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.email.$touched && form.email.$error.required) || (form.email.$dirty && form.email.$error.required) || (form.email.$dirty && !form.email.$error.required && !form.email.$valid) }">
            <label for="email">Email address*</label>
            <input autocomplete="off" type="text" name="email" id="email" class="form-control" ng-model="vm.user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
            <span ng-show="(form.email.$touched && form.email.$error.required) || (form.email.$dirty && form.email.$error.required)" class="help-block">Email address is required</span>
            <span ng-show="(form.email.$dirty && !form.email.$error.required && !form.email.$valid)" class="help-block">Enter a valid email address</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.password.$touched && form.password.$error.required) || (form.password.$dirty && form.password.$error.required) || (form.password.$dirty && form.password.$error.minlength) || (form.password.$dirty && form.password.$error.maxlength) }">
            <label for="password">Password*</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" maxlength="10" ng-minlength="3" ng-maxlength="8" required />
            <span ng-show="(form.password.$touched && form.password.$error.required) || (form.password.$dirty && form.password.$error.required)" class="help-block">Password is required</span>
            <span ng-show="(form.password.$dirty && form.password.$error.minlength)" class="help-block">Password is too short</span>
            <span ng-show="(form.password.$dirty && form.password.$error.maxlength)" class="help-block">Password is too long</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.dob.$touched && form.dob.$error.required) || (form.dob.$dirty && form.dob.$error.required) || (form.dob.$dirty && !form.dob.$error.required && !form.dob.$valid) }">
            <label for="lastName">Date of birth*</label>
            <input type="text" class="form-control" ng-model="vm.user.dob" is-open="config1.opened"  uib-datepicker-popup="MM-dd-yyyy" close-text="Close" name="dob" id="dob" required />
            <span class="input-group-btn position-calendar-icon">
                <button type="button" class="btn btn-default" ng-click="open1($event)" style="border: none;background-color: #ebebeb;">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
            <span ng-show="(form.dob.$touched && form.dob.$error.required) || (form.dob.$dirty && form.dob.$error.required)" class="help-block">Date of birth is required</span>
            <span ng-show="(form.dob.$dirty && !form.dob.$error.required && !form.dob.$valid)" class="help-block">Invalid date</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.gender.$touched && form.gender.$error.required) || (form.gender.$dirty && form.gender.$error.required) }">
            <label for="gender">Gender</label>
            <span style="padding-left: 10px;">
                <input type="radio" name="male" value="Male" ng-model="vm.user.gender" />
                <label class="remove-bold" for="male"> Male</label>
                <input type="radio" name="female" value="Female" ng-model="vm.user.gender" />
                <label class="remove-bold"  for="female"> Female</label>
            </span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.mobile.$touched && form.mobile.$error.required) || (form.mobile.$dirty && form.mobile.$error.required) || (form.mobile.$dirty && !form.mobile.$error.required && !form.mobile.$valid) }">
            <label for="mobile">Mobile No*</label>
            <input autocomplete="off" type="text" name="mobile" id="mobile" class="form-control" ng-model="vm.user.mobile" maxlength="10" ng-pattern="/^\d{10}$/" required />
            <span ng-show="(form.mobile.$touched && form.mobile.$error.required) || (form.mobile.$dirty && form.mobile.$error.required)" class="help-block">Mobile number is required</span>
            <span ng-show="(form.mobile.$dirty && !form.mobile.$error.required && !form.mobile.$valid)" class="help-block">Invalid mobile number</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (form.country.$touched && form.country.$error.required) || (form.country.$dirty && form.country.$error.required) }">
            <label for="country">Country*</label>
            <select class="form-control" name="country" ng-model="vm.user.country" ng-options="countr.name as countr.name for countr in countries" required>
            </select>
            <span ng-show="(form.country.$touched && form.country.$error.required) || (form.country.$dirty && form.country.$error.required)" class="help-block">Country is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Login</a>
        </div>
    </form>
</div>
</div>
</div>